# Node modules
node_modules/

# Distribution folder
dist/

# Expo files (if using Expo for app development)
.expo/
web-build/

# Environment variables
.env
.env.local

# Build files
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Logs and temporary files
*.log
